.collaborating {
  background: url("../images/peter-j-langley-collaborating.png") no-repeat
    center center;
  background-size: cover;
  min-height: 250px;
}

@media (min-width: 576px) {
  .collaborating {
    min-height: 290px;
  }
}

@media (min-width: 768px) {
  .collaborating {
    min-height: 410px;
  }
}

@media (min-width: 992px) {
  .collaborating {
    min-height: 500px;
  }
}

@media (min-width: 1200px) {
  .collaborating {
    min-height: 630px;
  }
}
