.header__heading {
  font-size: 2.4rem;
  padding-top: 1rem;
  margin-bottom: 0;
}

.header__consultant {
  color: grey;
}

.header__strapline {
  font-size: 1.1rem;
  margin-top: 1rem;
}

@media (min-width: 576px) {
  .header__strapline {
    font-size: 1.2rem;
  }
}

@media (min-width: 992px) {
  .header__strapline {
    max-width: 75%;
  }
}

@media (min-width: 1200px) {
  .header__strapline {
    max-width: 60%;
  }
}
