.location__location-title {
  color: #00bcd4;
}

.location__location-map {
  background: url("../images/south-coast-england-southampton.png") no-repeat
    center center;
  background-size: cover;
  min-height: 510px;
  padding-top: 1rem;
  position: relative;
}

.location__map-overlay {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  width: 65%;
}

.location__map-overlay-text {
  background: rgba(255, 255, 255, 0.85);
  padding: 0.09rem;
}

.location__text-additional {
  font-size: 0.85rem;
  padding: 1rem;
  margin-bottom: 0;
}
